{% extends 'base/base.html' %}
{% block title %}
    Update Restaurant
{% endblock title %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.field.widget.input_type == 'checkbox' %}
                    {{ field }}
                    {{ field.label }}
                {% else %}
                    {% if field.name == 'place' %}
                        Restaurant
                        <select name="place" class="form-control" disabled required="" id="id_place">
                            <option value="{{ field.value}}" selected="">{{ form.instance.place.name}}</option>
                        </select>
                    {% else %}
                        {{ field.label }}
                        {{ field }}
                    {% endif %}
                {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="invalid-feedback" style="display: block !important">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <input class="btn btn-success btn-lg btn-block" type="submit" value="Update">
    </form>
</div>
{% endblock content %}
 