{% extends '../base/base.html' %}
{% block tittle %}
    List Waiter
{% endblock tittle %}

{% block content %}
    <div class="col-12">
        <table class="table table-striped">
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Name</th>
                <th scope="col">Restaurant</th>
            
                <th scope="col">
                    <a href="{% url 'add_waiter' %}">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </th>
            </tr>
            {% for waiter in waiters %}
            <tr>
                <td scope="row">{{ waiter.id }}</td>
                <td>{{ waiter.name }}</td>
                <td>{{ waiter.restaurant.place.name }}</td>
                <td>
                    <a href="" url="/place/detail/{{place.id}}">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-trash"></i>
                    </a>
                
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}