{% extends '../base/user_base.html' %}

{% block title %}
    Login User
{% endblock title %}

{% block content %}
    <div class="col-md-12">
        {% if message %}
            <h3 style="color: red;">{{ message }}</h3>
        {% endif %}
        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            {% for field in login_form %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="invalid-feedback" style="display: block !important">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <input class="btn btn-success btn-lg btn-block" type="submit" value="Đăng Nhập">
        </form>
    </div>
{% endblock content %}