{% extends 'base/base.html' %}
{% block title %}
    Gnews Data
{% endblock title %}

{% block content %}
    {% load myfilter %}
    {% load humanize %}
    {% load static %}
    {% for article in articles %}
        <div class="col-6" style="display: flex-box">
            <img class="img-fluid" src="{{article.image}}" alt="" srcset="">
            <h3><a href="{{article.url}}">{{ article.title }}</a></h3>
            <p>{{ article.descriptions }}</p>
            <p>{{ article.content }}</p>
        </div> 
    {% endfor %}
{% endblock content %}